/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

h5 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}

li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

strong {
    margin-right: 10px;
}

img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}
