<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Tracks</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="playlist-container">
        <h1>Playlist Tracks</h1>
        {% for music_type in ['Energetic Playlist', 'Happy/Upbeat Playlist', 'Sad/Reflective Playlist', 'Acoustic Vibes Playlist', 'Chill/Laid-back Playlist', 'Live Sessions Playlist', 'Electric Mix Playlist'] %}
            {% set type_tracks = tracks|selectattr('type', 'equalto', music_type)|list %}

            {% if type_tracks %}
                <div class="playlist">
                    <h2>{{ music_type }} <a class="button" href="https://www.google.com/">Create playlist</a></h2>
                    <ul>
                        {% for track in type_tracks %}
                            <li>
                                <a class="playlist" href="{{ url_for('get_track_feature', track_id=track['id']) }}">{{ track['name'] }} - {{ track['artist'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
