<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Tracks</title>
    <style>
        h1 {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 1000;
        }
        body {
            margin-top: 50px; /* Adjust as needed */
        }
    </style>
</head>
<body>
    <h1>Playlist Tracks</h1>
    <ul>
        {% for track in tracks_info %}
            <li>
                {{ track['name'] }} - {{ track['artist'] }}
                - <a href="{{ url_for('get_track_feature', track_id=track['id']) }}">View track info</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
