<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Tracks</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Playlist Tracks</h1>
    <ul>
        {% for track in tracks_info %}
            <li>
                {{ track['name'] }} - {{ track['artist'] }}
                - <a href="{{ url_for('get_track_feature', track_id=track['id']) }}">View track info</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('divide_tracks') }}">View divided tracks</a>
</body>
</html>
